<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main">
      <div class="main-left">
        <p><%= link_to 'Craigslist Clone', root_path %></p>
        

        <%= render "categories/category_sidebar" if controller.controller_name == 'categories' %>

        <%= link_to 'Create new post', new_post_path if controller.controller_name == 'public' %>
      </div>
      <div class="main-right">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
